[submodule "extlib/libdxfrw"]
	path = extlib/libdxfrw
	url = https://github.com/solvespace/libdxfrw.git
[submodule "extlib/glfw"]
	path = extlib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extlib/glm"]
	path = extlib/glm
	url = https://github.com/g-truc/glm
